alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias psync='rsync -avh --info=progress2'
alias paths='echo -e ${PATH//:/\\n}'

# ls specific with exa extra love
if [ -x "$(command -v exa)" ]; then
	alias ls='exa'
	alias tree='exa --tree --level=5'
	alias lsf='exa -1'
	alias lst='exa -FlTh --level=5'
	alias lss='exa -FlTh --level=5 --no-permissions --no-user'
fi

alias l='ls -lbFh'
alias ll='ls -lah'
alias llm='ll --sort=modified'

# git specific
if [ -x "$(command -v git)" ]; then
	alias gs='git status'
	alias gss='git status -s'
	alias gp='git push'
	alias gpl='git pull'
	alias gclean='git clean -fd'
	alias gpristine='git reset --hard && git clean -dfx'
	alias gexport='git archive --format zip --output'
	alias gsubu='git submodule update --init --recursive'
	alias gl='git log --graph --decorate --pretty=oneline --abbrev-commit'

	if [ -x "$(command -v batcat)" ]; then
		batdiff() {
			git diff --name-only --relative --diff-filter=d | xargs batcat --diff
		}
	elif [ -x "$(command -v bat)" ]; then
		batdiff() {
			git diff --name-only --relative --diff-filter=d | xargs bat --diff
		}
	fi

fi

if [ -x "$(command -v ssh)" ]; then
	# ssh / scp
	alias sshp="ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no"
fi

if [ -x "$(command -v scp)" ]; then
	alias scpp="scp -o PreferredAuthentications=password"
fi

if [ -x "$(command -v dig)" ]; then
	# network
	alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
fi

if [ -x "$(command -v python3)" ]; then
	# serve files via python
	alias pyserve='python3 -m http.server'
fi

if [[ "$OSTYPE" =~ ^linux ]]; then
	if [ -f ~/.aliases-linux ]; then
		. ~/.aliases-linux
	fi
fi

if [[ "$OSTYPE" =~ ^darwin ]]; then
	if [ -f ~/.aliases-macos ]; then
		. ~/.aliases-macos
	fi
fi

if [[ "$OSTYPE" =~ ^msys ]]; then
	if [ -f ~/.aliases-win ]; then
		. ~/.aliases-win
	fi
fi
